---
layout: default
title: Home
---
<main id="main" class="site-main">

{% if page.url == "/" %}
<div class="hero inner">
    <p class="hero-text">{{ site.author.greetings }}</p>
</div>        
{% endif %}

<div>
    <h3>If you're new here, I'd recommend the following articles first:</h3>
    <ol>
        <li><a href="{% link _posts/2022-07-27-how-to-get-rich-the-easy-way.md %}">How to get rich, the easy way</li>
        <li><a href="{% link _posts/2022-07-30-how-to-get-started-investing.md %}">How to get started investing</li>
    </ol>
</div>

{% if page.url == "/" %}
<!-- Featured-->
<div id="featured-posts" class="featured-posts">
    {% for post in site.posts %}
        {% if post.featured == true %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
</div>

{% endif%}

<!-- Posts Index -->
<div class="post-feed inner">
    {% if page.url == "/" %}
    <div class="post-feed-title">Latest Articles</div>
    {% endif %}
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>
<!-- Pagination-->
{% include pagination.html %}
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>


