### Legal Disclaimer

The information and materials on this website are provided as a general source of information. While every measure has
been taken to ensure the accuracy of the material, I (Sean McCarthy) do not guarantee the accuracy or completeness of
the material found on this site. It is not intended as investment, financial, legal, accounting, tax or other advice.
The contents of this website are changed frequently.

Any information or materials which are provided or maintained by a third party such as linked sites which may be
accessed throughout this website are provided "as is".

I (Sean McCarthy) will not be responsible in any manner for direct, indirect or special damages, howsoever caused,
arising out of the use of this website.

Investments involve significant investment consideration and risk that are described in each Offering Memorandum,
Information Statement or Prospectus. Each potential investor should read the entire confidential Offering Memorandum,
Information Statement or Prospectus and should carefully consider the risk warnings and disclosures before making an
investment decision. An eligible investor may obtain a copy of the Offering Memorandum, Information Statement or
Prospectus from their investment advisor.

The information posted on this website is not an offer to sell or a solicitation to buy any security, which can only be
made by Offering Memorandum, Information Statement or Prospectus, nor does it constitute an offer by Sean McCarthy to
provide his investment advisory services in any jurisdiction in which, or to any person to whom, such would not be
permitted under applicable law.